
.container {
    display: grid;
    width: 800px;
    height: 600px;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 100px;
    grid-gap: 1rem;
    grid-template-areas: 
        "config-bar config-bar config-bar"
        "sidebar network nn-graph"
        "stats stats stats";
}

.config-bar {
    grid-area: config-bar;
    align-content: center;
    display: flex;
    align-items: center;
}

.sidebar {
    grid-area: sidebar;
}

.network {
    grid-area: network;
}

.stats {
    grid-area: stats;
}

.nn-graph {
    grid-area: nn-graph;
}

body {
    background-color: #3b404e;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.item {
    background-color: #1EAAFC;
    background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: #ffffff;
    border-radius: 4px;
    border: 6px solid #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

/* .MainPage {
    display: flex;
    flex-direction: column;
} */

.config-bar {
    background-color: #1EAAFC;
    background-image: linear-gradient(160deg, #6C52D9 0%, #9B8AE6 127%);
}

.sidebar {
    background-color: #1EAAFC;
    background-image: linear-gradient(160deg, #6C52D9 0%, #9B8AE6 127%);
}

.network {
    background-color: #1EAAFC;
    background-image: linear-gradient(160deg, #6C52D9 0%, #9B8AE6 127%);
    
}

.stats {
    background-color: #1EAAFC;
    background-image: linear-gradient(160deg, #6C52D9 0%, #9B8AE6 127%);
}

.nn-graph {
    background-color: #1EAAFC;
    background-image: linear-gradient(160deg, #6C52D9 0%, #9B8AE6 127%);
}

svg.graph {
    width: 200px;
}